@import './reset';
@import './normalize';
@import './variables';
@import './mixins';
@import './fonts';

* {
  font-family: 'Source Sans Pro',
    sans-serif;
}

body {
  background: $contentBlockBg;
  opacity: 0.8;
}